/Area.class
/Bank.class
/BankA.class
/BankB.class
/BankC.class
/ChildClass1.class
/ChildClass2.class
/Circle.class
/Developer.class
/Employee.class
/Main.class
/Manager.class
/Rectangle.class
/Shape5.class
/Task1.class
/Task3.class
